.tc-settings {
  .cdx-settings-button {
    width: 50%;
    margin: 0;
  }
}
.small-limit{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  &:hover {
    white-space: normal;
  }
}
.ant-table-row:hover .small-limit {
  white-space: normal;
}
