.chart-setting-drawer {
  .ant-drawer-body {
    padding: 0px 24px !important;
  }

  @media (max-width: $narrow-screen) {
    .ant-steps-item-title {
      display: none;
    }
  }
}

.vis-custom-time.mark-frozen {
  background-color: #cddc39;
  cursor: col-resize;
}

.vis-custom-time.endMarker>.vis-custom-time-marker {
  right: 0px;
}

.force-graph-container .graph-tooltip {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.65);

  .ant-card-body {
    padding: 0px;
  }
}

.steps-content {
  position: relative;
}

.upload-data {
  .ant-table-container table>thead>tr>th {
    padding: 0px 0px;
    text-align: left;
  }

  .limit-height {
    max-height: calc(22px * 7 + 4px);
    overflow-y: auto;
  }

  .CodeMirror {
    height: auto;

    .CodeMirror-code>:first-child {
      padding-right: 65px;
    }
  }

  .hover-appear {
    >.icon-muted {
      display: none;
    }

    &:hover>.icon-muted {
      display: inline-block;
    }
  }
}

.choose-chart {
  .draw-chart {
    margin: 10px;

    &.selected {
      border: 2px solid transparent;
      box-shadow: 0 0 5px 0 var(--selected-shadow);
      border-radius: 4px;

      &:hover {
        background: var(--background-color-hover);
        box-shadow: 0 1px 6px 0 var(--hover-shadow);
        transition: all .3s;
      }
    }

    &:hover {
      background: var(--background-color-hover);
      box-shadow: 0 1px 6px 0 var(--bordered-gray);
      transition: all .3s;
    }
  }

  .chart-description {
    position: fixed;
    top: 45px;
    background: var(--background-color);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 13%);
    border-radius: 4px;
    padding: 24px;
    max-height: 500px;
    overflow: auto;
  }
}

.config-chart {
  .ant-tree .ant-tree-list .ant-tree-treenode {
    width: 350px;
    max-width: 100%;
  }

  .ant-tree .ant-tree-node-content-wrapper {
    width: 350px;
    max-width: 100%;
  }

  .code-edit-result>.data,
  .code-edit-result details,
  .code-edit-result .property {
    padding-left: 5px;
  }
}

.ce-plot-chart {
  .mark-padding {
    color: var(--value-color);
    padding: 5px 0 5px 10px;
  }

  .convert-js-btn {
    display: none;
  }
}

.plot-customise-form {
  .ant-form-item {
    margin-bottom: 0px;
  }
}

.ce-block--focused {
  .ce-plot-chart .convert-js-btn {
    display: block;
  }
}

.ce-chart {

  // padding: 0 0;
  @media (max-width: $narrow-screen) {
    // padding: 0 0;
  }

  .chart {
    min-height: 30px;

    .limit-height {
      max-height: calc(22px * 9 + 4px);
      overflow-y: auto;
    }

    & .selected {
      border: 2px solid transparent;
      box-shadow: 0 0 5px 0 var(--selected-shadow);
      border-radius: 4px;

      &:hover {
        background: var(--background-color-hover);
        box-shadow: 0 1px 6px 0 var(--hover-shadow);
        transition: all .3s;
      }
    }

    &-flex {
      width: 100%;
      height: 100%;
      align-items: center;
      position: relative;

      .code-loading-top {
        top: 40px;
      }
    }

    &-render {
      padding: 0px 8px;
      width: 100%;
      height: calc(100% - 40px);
      overflow-y: auto;
      background: #fafafa;
      color: var(--value-color);

      .reset-table-div {
        height: 100%;
      }

      .code-edit-cm,
      .ant-table-wrapper {
        height: 100%;
        overflow-y: auto;
      }

      .CodeMirror {
        height: unset;
      }
    }

    &-title-menu {
      text-align: center;
      width: 100%;
      background-color: #fff;

      .chart-title {
        // padding: 5px 10px;
        min-width: 120px;

        .anticon-down {
          visibility: hidden;
        }

        &:hover {
          background-color: var(--black-10);

          .anticon-down {
            visibility: visible;
          }
        }
      }

      &:hover {
        background-color: var(--black-025);

        .anticon-down {
          visibility: visible;
        }
      }
    }

    .anticon-menu {
      cursor: pointer;
      font-size: var(--font-size-3);
      margin-right: 5px;
    }

    &-list {
      margin-top: 24px;

      .no-chart {
        line-height: 2.4em;
      }
    }
  }
}

.tl-menu {
  position: absolute;
  bottom: 20px;
  right: 126px;
  z-index: 999;
}

.tl-navs {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: 96px;
  text-align: center;

  i {
    font-style: normal;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0px;
    width: 100%;

    >.range {
      grid-column-start: 1;
      grid-column-end: 4;

      >input {
        width: 100%;
      }
    }
  }

  .grid-container>div {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 0px;
  }
}