.pop-menu-title {
    color: black;
    font-weight: bolder;
    cursor: text !important;
    white-space: normal;
}

.pop-menu-title:hover {
    color: black;
    font-weight: bolder;
    cursor: text;
    white-space: normal;
}

.th-2 {
    font-family: var(--sans-serif);
    font-weight: 400;
    margin-bottom: 1rem;

    .relative {
        height: 50px;
    }

    &>&-data-type {
        margin-bottom: 5px;
        max-width: 130px;
        color: var(--moon-gray);
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
    }

    &-positive {
        position: absolute;
        left: 0px;
        top: 0px;
        border-radius: 0px !important;
    }

    &-chart {
        width: 130px;
        height: 30px;
        margin-bottom: 3px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;
    }

    .null-empty-bk {
        height: 30px;
        background-color: rgb(0, 152, 23);
        opacity: 1;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .unique-bk {
        height: 30px;
        background-color: var(--moon-gray);
        color: white;
        opacity: 1;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .all-same-bk {
        height: 30px;
        background-color: rgb(191 178 178);
        opacity: 1;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .common-bk {
        height: 30px;
        border-right: 1px solid rgb(151, 187, 244);
        background-color: rgb(123, 146, 209);
        opacity: 1;
        text-align: center;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .single-bk {
        height: 30px;
        border-right: 1px solid rgb(209, 123, 149);
        background-color: rgb(189, 76, 174);
        opacity: 1;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .integer-bk {
        height: 30px;
        border-right: 1px solid white;
        background-color: white;
        opacity: 0;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .opacity-4 {
        opacity: 0.4;
    }

    .orange-bk {
        background-color: orange;
        opacity: 0.2;
    }

    .opacity-0 {
        opacity: 0;
    }

    &-desc {
        position: absolute;
        left: 0px;
        top: 30px;
        pointer-events: none;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        // background-color: var( --white );
        color: var(--moon-gray);

        &-left {
            position: absolute;
            left: 0px;
            top: 30px;
            pointer-events: none;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            // background-color: var( --white );
            color: var(--moon-gray);
        }

        &-right {
            position: absolute;
            left: 125px;
            top: 30px;
            pointer-events: none;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            // background-color: var( --white );
            color: var(--moon-gray);
        }
    }
}

.reset-table {
    position: absolute;
    top: -34px;
    padding: 5px;

    >:nth-child(n) {
        margin-left: var(--spacing-medium);
    }
}

.ce-header {
    padding: var(--gap) 0;
    margin: calc(-1 * var(--gap)) 0;
    margin-bottom: unset;
    line-height: 1.4em;
    outline: none;
}

.ce-code__textarea {
    display: block;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    color: #41314e;
    line-height: 1.2rem;
    font-size: 12px;
    background: inherit;
    border: 1px solid #f1f1f4;
    box-shadow: none;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    overflow-y: auto;
    resize: vertical;
}

$block-width: 34px;
$menu-width: 20px;
$font-size: 15px;
$margin: 8px;
$add-height: $font-size;

.ce-chart,
.ce-code {
    .code-edit-detail {
        position: absolute;
        z-index: 1;
        left: -20px;
    }

    .code-edit-border-right,
    .code-edit-border-left {
        cursor: pointer;
        position: absolute;
        width: var(--padding);
        height: 100%;
        display: none;
        overflow: visible;
        z-index: 1;
        background-color: var(--bg-light);

        &-wrap {
            display: flex;
            justify-content: center;
            width: 16px;
            height: 100%;

            &:hover {
                background-color: var(--near-white);
            }

            & .icon {
                font-style: normal;
                line-height: 2.4em;
            }
        }
    }

    .code-edit-border-left {
        left: calc(-1 * var(--padding));

        &-wrap {
            align-items: flex-start;
        }
    }

    .code-edit-border-right {
        right: calc(-1 * var(--padding));
        justify-content: flex-end;

        &-wrap {
            align-items: flex-start;
        }
    }

    .code-edit-add-down,
    .code-edit-add-up {
        cursor: pointer;
        position: absolute;
        left: calc(-1 * $font-size / 2);
        display: none;
        overflow: visible;
        height: $add-height;
        z-index: 1;
        font-size: $font-size;
        line-height: $add-height;

        & span {
            margin: 0 $margin 0 0;

            :hover {
                background-color: var(--near-white);
            }
        }
    }

    .code-edit-add-up {
        top: -$add-height;
    }

    .code-edit-add-down {
        bottom: -$add-height;
    }

    &>.open-select .code-edit-border-left,
    &:focus-within .code-edit-border-left,
    &:focus-within .code-edit-border-right,
    &:hover .code-edit-border-left,
    &:hover .code-edit-border-right {
        display: flex !important;
    }

    &:hover .code-edit-add-down,
    &:hover .code-edit-add-up {
        display: -ms-flexbox !important;
        display: flex !important;
    }

    &>.read-only .code-edit-detail,
    &>.read-only .code-edit-border-left,
    &>.read-only .code-edit-border-right,
    &:hover>.read-only .code-edit-add-down,
    &:hover>.read-only .code-edit-add-up {
        display: none !important;
    }
}

.ce-code {
    // .CodeMirror-dialog-top {
    //     border-bottom: 1px solid #eee;
    //     bottom: 44px;
    //     top: unset;
    // }

    // .CodeMirror-dialog {
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     background: inherit;
    //     z-index: 15;
    //     padding: 0.1em 0.8em;
    //     overflow: hidden;
    //     color: inherit;
    // }
    .CodeMirror {
        height: auto;

        .CodeMirror-code>:first-child {
            padding-right: 65px;
        }

        .CodeMirror-dialog {
            // position: fixed;
        }

        .CodeMirror-dialog-top {
            display: flex;
            justify-content: flex-end;
            box-shadow: 0 0 5px 0 var(--hover-shadow);
            top: 0px;
            left: unset;
            right: 65px;
            background-color: var(--background-color);

            label {
                margin-bottom: 0px;
            }
        }
    }

    .CodeMirror-gutters {
        background-color: unset;
        border-right: unset;
    }

    .menu-li-delete {
        -webkit-transition: background-color .2s ease;
        transition: background-color .2s ease;
        will-change: background-color;
        text-align: center;
    }

    .menu-li-delete.confirm {
        background-color: #d54a4a !important;
        color: #fff;
    }

    .menu-li-delete.confirm .anticon-delete {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .anticon-delete {
        -webkit-transition: -webkit-transform .2s ease-out;
        transition: -webkit-transform .2s ease-out;
        transition: transform .2s ease-out;
        transition: transform .2s ease-out, -webkit-transform .2s ease-out;
        will-change: transform;
    }
}

.database {
    .icon {
        width: 20px;
        text-align: center;
        font-style: normal;
    }
}

.code-edit {
    position: relative;

    &-wrapper {
        position: relative;

        & &-tools {
            position: absolute;
            left: -43px;
            z-index: 5;
            width: 20px;
            height: 100%;

            >:nth-child(1) {
                line-height: 2.2em;
                width: 20px;
                text-align: center;
                cursor: pointer;
                font-style: normal;
            }

            >:nth-child(2) {
                position: absolute;
                left: 20px;
                line-height: 2.0em;
                width: 20px;
                text-align: center;
                cursor: pointer;
                font-style: normal;
            }

            &:hover {
                background-color: #e7eff8;
            }
        }

        &:hover &-tools,
        &:focus-within &-tools {
            // background-color: #eff2f5;
        }

        & &-icons {
            position: absolute;
            right: 8px;
            z-index: 3;
            padding: 4px 0px;

            i {
                font-style: inherit;
            }

            >:not(:first-child) {
                margin-left: 8px;
            }

            >:nth-child(n) {
                cursor: pointer;
            }
        }
    }

    &.edit {
        background-color: var(--near-white);
    }

    &-content {
        border-left: 1px solid blueviolet;
        padding: 0px 2px;
    }

    &.read-only &-content {
        border-left: unset;
    }

    // &.read-only &-cm,
    &.read-only &-wrapper &-wrapper-icons,
    &.read-only &-menus {
        display: none;
    }

    &-menus {
        position: relative;

        .ant-menu-item-selected {
            color: unset;
        }

        .ant-menu-vertical .ant-menu-item:not(:last-child),
        .ant-menu-vertical-left .ant-menu-item:not(:last-child),
        .ant-menu-vertical-right .ant-menu-item:not(:last-child),
        .ant-menu-inline .ant-menu-item:not(:last-child) {
            margin-bottom: unset;
        }

        &>.ant-menu {
            position: absolute;
            z-index: 4;
            display: none;
            top: 22px;
            width: calc(2px + (4 + 34) * 3px);
            left: -$menu-width;
            border: 1px solid #eaeaea;
            -webkit-box-shadow: 0 3px 15px -3px rgba(13, 20, 33, .13);
            box-shadow: 0 3px 15px -3px rgba(13, 20, 33, .13);

            >li {
                text-align: center;
                display: inline-block;
                width: $block-width;
                height: $block-width;
                line-height: $block-width;
                margin-top: unset;
                padding: unset;
                margin: 2px;

                &:hover {
                    background-color: #eff2f5;
                }
            }
        }

        &:hover>.ant-menu {
            display: block;
        }

        &-menu {
            position: absolute;
            background-color: white;
            height: 22px;
            left: -$menu-width;
            width: $menu-width;
            overflow: hidden;

            &>.anticon {
                cursor: pointer;
                padding: 2px calc(($menu-width - 8px) / 2);
                vertical-align: 2px;
            }

            &:hover {
                background-color: var(--near-white);
            }
        }
    }

    &-result {
        color: var(--run-result);
        border-left: 8px solid transparent;
        padding: 0.4em 0px 0.4em 0px;
        overflow-x: auto;

        &>.data {
            & .observablehq--running {
                background-color: aqua;
            }

            & .observablehq--error {
                background-color: aquamarine;
            }
        }
    }
}

.observablehq>style:only-child:before {
    content: "<style>";
    visibility: visible;
}

.observablehq>link:only-child:before {
    content: "<link>";
    visibility: visible;
}

.observablehq>link:only-child,
.observablehq>style:only-child {
    display: block;
    visibility: hidden;
    padding: 6px 0;
    white-space: nowrap;
    font: var(--mono_fonts);
    color: var(--syntax_keyword);
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80vw;
    overflow: hidden;
}

form.oi-f09d35-table {
    margin: 0 0px !important;
}

.observablehq {
    img {
        max-width: calc(100vw - 104px);
    }
}

.code-edit-result>.declare {
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        white-space: inherit;
    }
}