$background-color-inactive: #4A4A4A;
$background-color: #2b2b2b;
$background-color-lighter: #0f0f0f;
$background-color-hover: #5f5f5f;
$text-color-inactive: #ACACAC;
$text-color: rgba(255, 255, 255, 0.85);
$text-color-inverted: #EAEAEA;
$bg-color-btn: #434343;
$bg-color-btn-hover: rgba(100, 100, 100, 0.867);
$border-color-inactive: gray;
$border-color: #EAEAEA;
$input-focus-border-color: #165996;

.darkmode {
  --background-color: #2b2b2b;
  --background-color-hover: #5f5f5f;
  --text-color: rgba(255, 255, 255, 0.85);
  --text-color-hover: rgba(213, 196, 196, 0.85);
  --color-border-light: rgba(255, 255, 255, .08);
  --value-color: #8f9bdb;
  --active-bg-color: rgb(189, 189, 189);
  --active-light-bg-color: rgb(12, 239, 247, 25%);
  --active-deep-bg-color: rgb(12, 239, 247, 50%);
  --active-deeper-bg-color: rgb(12, 239, 247, 100%);
  --active-color: rgb(12, 239, 247);
  --target-color: #ede20c;
  --box-shadow: rgb(139 139 122 / 50%);
  --washed-yellow: #fbf9f144;
}

.darkmode {
  .rc-virtual-list-scrollbar-thumb {
    background-color: rgb(251 249 241 / 58%) !important;
  }

  .ant-switch-checked:focus {
    box-shadow: 0 0 0 2px rgba(23, 125, 220, 0.2);
    background: #177ddc !important;
  }

  .ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
    box-shadow: var(--box-shadow) -6px 0px 16px -8px, rgba(0, 0, 0, 0.05) -9px 0px 28px 0px, rgba(0, 0, 0, 0.03) -12px 0px 48px 16px;
  }

  .ant-drawer-bottom.ant-drawer-open .ant-drawer-content-wrapper {
    box-shadow: 0 -6px 16px -8px var(--box-shadow), 0 -9px 28px 0 rgb(0 0 0 / 20%), 0 -12px 48px 16px rgb(0 0 0 / 12%);
  }

  .MuiChip-root.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: var(--background-color);
  }

  .table {
    color: var(--text-color);
  }

  .table-hover tbody tr:hover {
    color: var(--text-color-hover);
  }

  .ant-card-hoverable:hover {
    border-color: transparent;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.64), 0 3px 6px 0 rgb(56 142 211 / 48%), 0 5px 12px 4px rgba(0, 0, 0, 0.36);
  }

  .card-file {
    &.selected {
      border-color: transparent;
      box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.64), 0 3px 6px 0 rgb(56 142 211 / 48%), 0 5px 12px 4px rgba(0, 0, 0, 0.36);
    }
  }

  .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
  .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
    background-color: #607d8b83;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: #607d8b83;
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled),
  .ant-cascader-menu-item:hover {
    background: rgba(255, 255, 255, 0.48);
  }

  .ant-switch-checked {
    background-color: #177ddc !important;
  }

  .ant-btn-primary {
    background: #177ddc !important;
  }

  .ant-drawer-close {
    background: transparent !important;
  }

  .btn-primary {
    background-color: #007bff !important;
  }

  .btn-secondary {
    background: #6c757d !important;
  }

  .btn-success {
    background-color: #28a745 !important;
  }

  .text-dark {
    color: #cddc39 !important;
  }

  .ce-toolbar__settings-btn :hover,
  .ce-block.ce-block--moveovered .ce-block__content .ce-block-add-down span:hover,
  .ce-block.ce-block--moveovered .ce-block__content .ce-block-add-up span:hover {
    background-color: #5f5f5f65;
    // background-color: $background-color-hover;
  }

  input,
  button,
  select,
  optgroup,
  textarea {
    color: $text-color;
    // background: transparent;
    background: $background-color;
  }

  input:hover,
  button:hover,
  select:hover,
  optgroup:hover,
  textarea:hover,
  button:hover,
  input:focus,
  button:focus,
  select:focus,
  optgroup:focus,
  textarea:focus,
  button:focus {
    border-color: $input-focus-border-color;
    background: $bg-color-btn-hover;
    // opacity: 0.8;
  }

  button {
    border: 1px solid $border-color;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-color: #434343;
  }

  .ce-block.ce-block--moveovered {
    background-color: $background-color;
  }

  .ce-block.ce-block--focused {
    background-color: $background-color-lighter;
  }

  .cdx-block {
    color: $text-color;
  }

  .page-head {
    background-color: rgba(0, 0, 0, 0.5);
    color: $text-color;
  }

  .kv-button {
    background-color: #434343;
    color: #acacac !important;
  }

  .kv-button:hover {
    color: #dbdbdb !important;
    background-color: #5a5a5a;
  }

  .ant-anchor-link-title {
    background-color: $background-color;
    color: $text-color;

    >div:hover {
      background-color: $background-color-lighter !important;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-color;
  }

  .bordered {
    display: none;
  }

  .editorjs-wrapper>.editorjs-anchor:hover {
    box-shadow: none;
  }

  .ce-chart .chart-title-menu .chart-title:hover {
    background-color: $bg-color-btn-hover;
  }

  .ce-chart .chart-render {
    background: $background-color;
  }

  .vis-time-axis .vis-text {
    color: $text-color;
  }

  .vis-labelset .vis-label {
    color: $text-color;
  }

  .vis-item {
    color: $text-color;
    border-color: #97B0F8;
    background-color: #4caf50;
  }

  .#{$inputs-id} button,
  .#{$inputs-id} input,
  .#{$inputs-id} select,
  .#{$inputs-id} table,
  .#{$inputs-id} textarea {
    color: $text-color;
    background: $background-color;
  }

  .#{$inputs-id} button:hover {
    background: $bg-color-btn-hover;
  }

  .#{$inputs-id}-table thead th {
    background: $background-color;
  }

  .code-edit-wrapper .code-edit-wrapper-tools:hover,
  .ce-block .ce-block-border-left-wrap:hover,
  .ce-block .ce-block-border-right-wrap:hover {
    background-color: $background-color-hover;
  }

  .code-edit-add-down,
  .code-edit-add-up {
    & span {
      :hover {
        background-color: $background-color;
      }
    }
  }

  .code-edit-border-left,
  .code-edit-border-right {
    background-color: $background-color;
  }

  .code-edit-content {
    border: none;
  }

  .code-edit-result>.declare {
    color: $text-color;
  }

  .edit {
    background-color: $background-color;
  }

  // .code-edit-result > .data, .code-edit-result > details {
  //   color: $text-color;
  // }

  /**
  * editorjs
  */

  .cdx-simple-image__picture--with-border,
  .cdx-input {
    border-color: var(--color-border-light);
  }

  .ce-example__button {
    box-shadow: 0 24px 18px -14px rgba(4, 154, 255, 0.24);
  }

  .ce-example__output {
    background-color: #17191f;
  }

  .inline-code {
    background-color: rgba(53, 56, 68, 0.62);
    color: #727683;
  }

  .ce-example__statusbar-toggler,
  .ce-example__statusbar-button {
    background-color: #343842;
  }

  .ce-example__statusbar-toggler::before {
    transform: translateX(calc(var(--toggler-size) * 2.2 - var(--toggler-size)));
  }

  .ce-example__statusbar-toggler::after {
    content: '*';
    right: auto;
    left: 6px;
    top: 7px;
    color: #fff;
    box-shadow: none;
    font-size: 32px;
  }

  &.show-block-boundaries .ce-block,
  &.show-block-boundaries .ce-block__content {
    box-shadow: 0 0 0 1px rgba(128, 144, 159, 0.09) inset;
  }

  &.thin-mode .ce-example__content {
    border-color: var(--color-border-light);
  }

  .ce-example__statusbar-item:not(:last-of-type)::after {
    color: var(--color-border-light);
  }

  .ce-block--selected .ce-block__content,
  ::selection {
    background-color: rgba(57, 68, 84, 0.57);
  }

  .ce-toolbox__button,
  .ce-toolbar__settings-btn,
  .ce-toolbar__plus {
    color: inherit;
  }

  .ce-toolbar__settings-btn:hover {
    background: $background-color-hover;
  }

  .ce-stub {
    opacity: 0.3;
  }

  .tc-popover {
    --color-border: #EAEAEA;
    --color-background: #2b2b2b;
    --color-background-hover: #0f0f0f;
  }

  .tc-wrap {
    --color-background: #2b2b2b;
    --color-text-secondary: white;
    --color-border: #EAEAEA;
  }

  .ce-inline-toolbar,
  .ce-conversion-toolbar {
    background-color: $background-color;
    border: 1px solid $border-color;
  }

  .ce-inline-toolbar__dropdown:hover,
  .ce-conversion-tool:hover {
    background: $background-color-hover;
  }

  .ce-conversion-tool__icon {
    background: $background-color;
    // color: var(--icon-color);
  }

  .ce-inline-tool>svg {
    color: var(--icon-color);
  }

  .tc-popover__item-icon {
    background: $background-color-hover;

    >svg {
      fill: inherit;
    }
  }

  .observablehq {
    .observablehq--key {
      color: #fc00da;
    }

    .observablehq--collapsed,
    .observablehq--expanded,
    .observablehq--function,
    .observablehq--gray,
    .observablehq--import,
    .observablehq--string:after,
    .observablehq--string:before {
      color: $text-color;
    }
  }

  .icon,
  .anticon {
    &:hover {
      color: var(--mid-gray);

      svg {
        fill: currentColor;
      }
    }
  }

  .anticon {
    i {
      font-style: inherit;
    }

    &-muted {
      color: var(--moon-gray);

      &:hover {
        color: var(--moon-gray);
      }
    }
  }

  .normal-icon,
  .ant-modal-body,
  .drawer-type {

    .anticon,
    .icon {

      // color: var(--icon-color);
      &[disabled] {
        color: rgba(90, 90, 90, 0.85);

        &:hover {
          color: rgba(90, 90, 90, 0.85);
        }
      }

      &:hover {
        color: var(--icon-hover-color);
      }

      &-muted {
        color: var(--moon-gray);

        &:hover {
          color: var(--moon-gray);
        }
      }

      &-inactive {
        color: var(--moon-gray);

        &:hover {
          color: var(--light-gray);
        }
      }

      &-mouseover {
        color: var(--moon-gray);

        &:hover {
          color: var(--icon-color);
        }
      }
    }
  }

  .file-name-display {
    background-color: $background-color;
    color: $text-color;
  }

  .file-header {
    background-color: $background-color;
  }

  .folder .right-menu-title {
    color: $text-color
  }

  .ce-chart .chart-title-menu {
    background-color: $background-color;
  }

  .list-group-item {
    background-color: unset;
    border: 1px solid rgba(48, 48, 48);
  }

  .choose-chart .chart-description {
    box-shadow: 0 0 10px 0 rgb(255 255 255 / 13%);
  }

  .site-custom-tab-bar {
    background: $background-color;
  }

  .editorjs-wrapper>.editorjs-anchor .ant-anchor-link .ant-anchor-link-title>div>.ant-anchor-link-title-text:hover {
    color: unset;
  }

  .code-edit-result summary {
    color: $text-color;
  }

  .code-edit-result .separator {
    color: $text-color;
  }

  .folder-affix .ant-affix>div {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .mid-gray {
    color: $text-color;
  }

  .react-grid-item:not(.react-grid-placeholder) {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .react-grid-item>.react-resizable-handle::after {
    border-right: 2px solid rgba(255, 255, 255, 0.4);
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  }

  .highlight-success {
    color: #ffc107 !important;
    background-color: #744b4b;
  }

  .CodeMirror .highlight {
    color: #cddc39 !important;
    background-color: #684b4b;
  }

  pre {
    color: inherit;
  }

  .dropzone-div .wrapper .bottom-affix {
    background-color: rgb(0, 0, 0, 0.8);
  }

  .form-control:focus {
    color: $text-color;
  }

  @media (min-width: 11px) {
    .codex-editor--narrow .ce-toolbox {
      background: $background-color;
      z-index: 2;
    }
  }

  .d2h-wrapper {
    color: black;
    background: white;
  }
}

body.darkmode {
  background-color: $background-color;
  color: $text-color;
}