.tools-select {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1002;

    &>div {
        position: absolute;
        left: 0px;
        top: 0px;
    }

    &-icon {
        width: 50px;
        text-align: center;
    }
}

.cdx-warning {
    position: unset;
}

.codex-editor__redactor {
    padding-bottom: 500px !important;
    min-height: 100vh;
}

.cdx-settings-button:not(:nth-child(3n+3)) {
    margin-right: 2px;
}

.ce-settings__button:not(:nth-child(3n+3)) {
    margin-right: 2px;
}

.ce-inline-toolbar__dropdown-content svg,
.ce-toolbox__button svg,
.ce-conversion-tool__icon svg {
  fill: currentColor;
}

.ce-toolbox__button[data-tool="checklist"] svg,
.ce-toolbox__button[data-tool="warning"] svg,
.ce-toolbox__button[data-tool="linkTool"] svg,
.ce-toolbox__button[data-tool="raw"] svg {
    fill: none;
}

.ce-toolbar {
    z-index: 5;
}

.ce-header {
    padding: unset;
    margin: unset;
    margin-bottom: unset;
    line-height: 2.4em;
    outline: none;
}

.ce-block {
    margin-left: calc(-1 * var(--padding));
    margin-right: calc(-1 * var(--padding));
    padding-left: calc(var(--padding) + 10px
            /* pin icon */
        );
    padding-right: calc(var(--padding) + 10px
            /* pin icon */
        );
}

// .codex-editor svg {
//     fill: unset;
// }
.ce-toolbar__actions_left {
    left: -14px;
}