.modal-comp {
  .thumbnail {
    max-width: 195px;
    max-height: 200px;
  }

  .preview-image-div2 {

    // overflow-y: scroll;
    .preview-image-div {
      max-width: 400px;
      max-height: 360px;

      #previewImage {
        max-width: 100%;
      }
    }
  }

  .preview-image-wrap {
    width: 195px;
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
  }

  .card-file {
    width: 195px;

    .card-file-title {
      white-space: break-spaces;
      overflow-wrap: break-word;
      word-break: break-word;
    }

    .ant-card-body {
      padding: var(--spacing-small) 0px;
    }

    .image-wrap {
      min-height: 200px;
      max-height: 200px;
      overflow: hidden;
    }

    &.selected {
      border-color: transparent;
      box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.64), 0 3px 6px 0 rgba(0, 0, 0, 0.48), 0 5px 12px 4px rgba(0, 0, 0, 0.36);
    }
  }
}

.full-screen-head {
  position: fixed;
  right: 0px;
  top: 6px;
  z-index: 1000;
  padding: 0 var(--spacing-medium);
  line-height: calc(var(--header-h) + var(--spacing-small));
  // :nth-child(1){
  //   line-height: var(--header-h);
  //   height: var(--header-h);
  //   width: var(--header-h);
  // }
}

.page-head {
  line-height: calc(var(--header-h));
  height: calc(var(--header-h) * 2 + var(--spacing-small) * 2);
  padding: var(--spacing-small) var(--spacing-medium);
  width: 100%;
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0px 1px 4px 0px var(--box-shadow);

  .ant-avatar {
    position: relative;
    z-index: 8;
    transition: transform 0.1s ease-out 0s;

    &:hover {
      transform: translateY(-4px);
      z-index: 11;
    }
  }

  &-full-screen {
    height: 0px;
    padding: 0px;
    position: relative;
    box-shadow: none;
  }

  .header-file-description {
    max-width: 40vw;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (max-width: $narrow-screen) {
      display: none;
    }

    &:hover {
      white-space: normal;
    }
  }
}

.file-header {
  margin: 0 calc(-1 * var(--padding));
  margin-bottom: 8px;
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);

  & .file-menu {
    display: block;

  }

  @media (min-width: 768px) {
    box-shadow: 0px 4px 4px 0px rgba(116, 116, 133, 0.1);

    & .file-menu {
      display: none;
    }
  }
}

.tabs-menu {
  max-height: calc(100vh - 36px);
  overflow-y: auto;
}

.right-menu-menu {
  max-height: calc(100vh - calc(var(--header-h) * 2 + var(--spacing-small) * 2));
  width: 180px;
  overflow-y: auto;
}

.file-name-display {
  line-height: var(--header-h);
  background-color: white;
  opacity: 0.85;

  // cursor: pointer;
  // background-color: white;
  // :hover {
  //   color:var(--near-black)
  // }  
  .ant-card {
    background: unset;
  }

  .ant-card-body {
    padding: 0px 0px 8px;
  }
}

#folder {
  & .ant-drawer-close {
    z-index: 11;
  }
}

.folder-affix .ant-affix>div {
  background-color: rgba(255, 255, 255, 0.5);
}

.no-mask .folder-affix .ant-affix {
  transform: translateY(calc(var(--header-h) * -2 + var(--spacing-small) * -2));
}

.folder {
  height: calc(100% - 32px - 24px);

  // overflow-y: auto;
  .dropzone-div>.ant-dropdown-trigger {
    padding-bottom: 100px;
  }

  .filter {
    padding: 8px;
  }

  .form-check-inline {
    margin-right: unset;
  }

  .right-menu {
    &-title {
      // color: rgba(0, 0, 0, 1);
      font-weight: bolder;
      cursor: text;
      white-space: normal;
    }
  }

  & .header {
    background-color: var(--background-color);
    height: 32px;
    border-bottom: 1px solid var(--color-border-light);
    margin-left: -8px;
    padding-left: 8px;

    & .icon {
      margin-right: var(--spacing-small);

      &:hover {
        background-color: var(--icon-hover-bgcolor);
      }

      &.active {
        background-color: var(--icon-active-bgcolor);
      }
    }
  }

  & details>summary {
    font-size: var(--font-size-6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: var(--spacing-small);

    & .folder-name-tag {
      display: inline-block;

      & .folder-name-rename {
        top: 0px;
        left: 0px;
        width: 100%;
        position: absolute;
        display: none;
        background: var(--background-color);
      }

      &.rename .folder-name-rename {
        display: inline-block;
      }
    }

    &:hover {
      white-space: normal;
    }
  }

  & details.active>summary {
    color: var(--active-color)
  }

  & details.active.deep>summary {
    font-size: var(--font-size-5);
    font-weight: bold;
    color: var(--active-deep-color);
    background-color: var(--active-deep-bg-color);

    &>.icons> :nth-child(n) {
      padding: 2px 5px;
      color: var(--active-deep-color);
    }
  }

  & summary {
    display: block;
    line-height: 1.5;

    &::marker,
    &::-webkit-details-marker {
      display: none
    }

    .form-check-inline {
      margin-right: 0;
    }
  }

  & details>summary:before {
    height: 20px;
    width: 20px;
    content: "\f07b";
    -webkit-font-smoothing: antialiased;
    /* display: inline-block; */
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 400;
    font-family: "Font Awesome 5 Free";
    font-size: var(--font-size-4);
    margin-right: var(--spacing-extra-small);
    cursor: pointer;
    // color: var(--icon-color);
    float: left;
    line-height: 1;
  }

  & details[open]>summary:before {
    content: "\f07c";
  }

  & details>details,
  & details>details .file {
    margin-left: 8px;
  }

  & details {
    position: relative;

    &>summary>.icons {
      position: absolute;
      top: 0px;
      right: 0px;

      > :nth-child(n) {
        padding: 2px 5px;
      }

      >.icon {
        visibility: hidden;
      }
    }

    &>summary:hover>.icons>.icon,
    &.active>summary>.icons>.icon {
      visibility: visible;
    }
  }

  & .new-folder,
  & .new-file,
  & .file {
    font-size: var(--font-size-6);
    // color: black;
    position: relative;
  }

  & .file {
    line-height: 1.5;

    & .file-name {
      padding: var(--spacing-small);

      .form-check-inline {
        max-width: 100%;
      }

      .form-check-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          white-space: normal;
        }
      }
    }

    &.active {
      color: var(--active-color);

      & .file-name {
        color: var(--active-color);
      }
    }

    &.tabs-active {
      background-color: var(--active-light-bg-color);
      color: var(--active-color);

      & .file-name {
        color: var(--active-color);
      }
    }

    & .icons {
      position: absolute;
      top: var(--spacing-small);
      right: 0px;

      > :nth-child(n) {
        padding: 2px 5px;
      }

      >.icon-hover {
        visibility: hidden;
      }
    }

    &:hover .icons>.icon-hover // &.active .icons > .icon-hover 

      {
      visibility: visible;
    }

    &-name {

      // :hover {
      //   position: relative;
      // }
      &.untracked {
        color: yellowgreen;
      }

      &.modified {
        color: rgb(230, 141, 141);
      }

      &:hover {
        background-color: rgba(232, 239, 248, 0.500);
      }

      & .file-name-rename {
        top: 0px;
        left: 0px;
        position: absolute;
        width: 100%;
        display: none;
      }

      &.rename .file-name-rename {
        display: inline-block;
      }
    }

    &.active.deep {
      font-size: var(--font-size-5);
      font-weight: bold;
      color: var(--active-deep-color);
      background-color: var(--active-deep-bg-color);

      & .icons> :nth-child(n) {
        color: var(--active-deep-color);
      }

      & .file-name {
        color: var(--active-deep-color);

        &:hover {
          background-color: var(--active-deep-bg-color);
        }
      }
    }
  }

  & .new-folder,
  & .new-file {
    display: none;

    &.active {
      display: block;
    }

    & input {
      top: 0px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  & .cloud.not-save {}

  & .cloud.sync {}

  & .cloud.sync {}
}