.graphxrApiSearchModal {
  .searchInput {
    margin: 1rem;
    height: 3rem;
    padding: 0.25rem 1rem;
    width: calc(100% - 2rem);
    font-size: 2rem;
  }

  ul.searchResults {
    padding: 0 1rem 1rem 1rem;
    margin: 0;
    height: 450px;
    overflow: scroll;

    li {
      list-style: none;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      margin-bottom: 5px;
    }

    li.selectedResult {
      background-color: var(--active-deeper-bg-color);

      .searchTitle {
        color: white;
      }

      .searchDescription {
        color: white;
      }
    }

    .searchTitle {
      font-size: 1rem;
      font-weight: bold;
      display: block;
    }

    .searchDescription {
      font-size: 0.75;
      display: block;
    }
  }

  .noResults {
    padding: 0 1rem 1rem 1rem;
    font-size: 1rem;
    text-align: center;
  }
}