.current_user {
  font-weight: bold;
  color: rgb(218, 62, 127);
}

.drawer-panels {
  .collection-thumbnail {
    padding-top: 62.5%;

    .collect-1 {
      top: 10px;
      left: 10px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
    }

    .collect-2 {
      top: 5px;
      left: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
    }

    .collect-3 {
      width: calc(100% - 10px);
      height: calc(100% - 10px);
    }

    img {
      object-fit: cover;
    }
  }

  .card-file {
    width: 195px;

    .card-file-title {
      white-space: break-spaces;
      overflow-wrap: break-word;
      word-break: break-word;
    }

    .ant-card-body {
      padding: var(--spacing-small) 0px;
    }

    .image-wrap {
      min-height: 200px;
      max-height: 200px;
      overflow: hidden;
    }
  }
}