hr {
  border: 1px inset;
}

form.#{$inputs-id}-table {
  margin: 0 !important;
  overflow-y: unset;
}

.padding-hor {
  padding-right: var(--padding) !important;
  padding-left: var(--padding) !important;
}

.ant-message-notice {
  pre {
    max-height: 200px;
  }
}

a.link {
  font-weight: bold;
  color: #187dda;
}

.loading-top {
  z-index: 1004;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.10);
  text-align: center;

  .btns {
    z-index: 1004;
    position: fixed;
    top: 55%;
    left: 47%;
    font-weight: bolder;
  }

  .full-div {
    width: 100%;
    height: 100vh;
  }
}

.ant-spin-nested-loading>div>.ant-spin {
  max-height: unset !important;
}

.height-auto {
  height: auto;
  max-height: 100%;
  overflow-y: auto;
}

.code-loading-top {
  z-index: 1004;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.10);
  text-align: center;

  .ant-spin-nested-loading {
    width: 100%;
    height: 100%;
  }

  .code-full-div {
    width: 100%;
    height: 100%;
  }
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa0a;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}

.ant-back-top {
  text-align: center;

  &:hover {
    color: var(--gray);
  }
}

.no-mask .ant-back-top {
  right: 50% !important;
}

.ant-table-pagination.ant-pagination {
  margin: 5px 0 !important;
}

.ant-table-cell-ellipsis .ant-table-column-title {
  overflow: unset !important;
}

tbody>tr:hover .ant-table-cell-ellipsis {
  white-space: normal;
}

.table-hover-on-ellipsis tbody>tr:hover .ant-table-cell-ellipsis {
  white-space: nowrap;
}

.print {
  .codex-editor__redactor {
    padding-bottom: 0px !important;
    min-height: unset !important;
  }

  .page-head {
    display: none !important;
  }

  .ant-affix {
    display: none !important;
  }

  .ant-drawer {
    display: none !important;
  }

  .ant-back-top {
    display: none !important;
  }

  .ant-dropdown {
    display: none !important;
  }

  .bottom-affix,
  .top-affix,
  .editorjs-anchor {
    display: none !important;
  }

  .code-edit-content {
    border-left: unset;
  }

  .ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after {
    box-shadow: unset;
    width: 4px;
    background-color: var(--text-color);
    opacity: 0.5;
  }
}

.animate-all {
  -webkit-transition: all 0.25s cubic-bezier(.785, .135, .15, .86);
  transition: all 0.25s cubic-bezier(.785, .135, .15, .86);
}

.circle-btn-2:focus,
.circle-btn-2:hover {
  background-color: var(--black-05);
  cursor: pointer;
}

.circle-btn-2 {
  -webkit-border-radius: var(--border-radius-circle);
  border-radius: var(--border-radius-circle);
  border-color: var(--transparent);
}

.circle-btn:hover,
.circle-btn:focus {
  // box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
  background-color: #f8f9fa;
}

.circle-btn {
  background-color: #fff;
  background-image: initial;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 1px var(--gray);
  box-shadow: inset 0 0 0 1px var(--gray);
  height: 32px;
  margin-right: initial;
  min-width: 32px;
  opacity: initial;
}

.ant-modal-confirm-title .confirm-title {
  max-height: 30vh;
  overflow: auto;
}

.icon,
.anticon {
  color: inherit;

  svg {
    vertical-align: inherit;
    fill: currentColor;
  }

  &:hover {
    color: var(--mid-gray);

    svg {
      fill: currentColor;
    }
  }
}

.anticon {
  i {
    font-style: inherit;
  }

  &-muted {
    color: var(--moon-gray);

    &:hover {
      color: var(--moon-gray);
    }
  }
}

// .data-html2canvas-ignore
.ant-btn,
.code-edit-wrapper-icons,
.normal-icon,
.ant-modal-body,
.drawer-type {
  .icon {
    font-size: var(--icon-size);
    padding: 8px 5px;
    cursor: pointer;
    width: 1.8rem;
    text-align: center;
    vertical-align: middle;
  }

  .anticon,
  .icon {
    color: var(--icon-color);

    &[disabled] {
      color: rgba(0, 0, 0, 0.25);
      cursor: not-allowed;
      pointer-events: none;

      &:hover {
        color: rgba(0, 0, 0, 0.25);
      }
    }

    &-bordered {
      width: 2rem;
      border-radius: 15%;
      -webkit-box-shadow: inset 0 0 0 1px var(--gray);
      box-shadow: inset 0 0 0 1px var(--gray);
    }

    &:hover {
      color: var(--icon-hover-color);
    }

    &-xs {
      padding: unset;
      width: 1.5em;
    }

    &-muted {
      color: var(--moon-gray);
      cursor: default;

      &:hover {
        color: var(--moon-gray);
      }
    }

    &-inactive {
      color: var(--near-black);

      &:hover {
        color: var(--gray);
      }
    }

    &-mouseover {
      color: var(--near-black);

      &:hover {
        color: var(--icon-hover-color);
      }
    }
  }
}

.zoom-out-icon {
  font-size: var(--font-size-4);
  transition: font-size .2s;
}

.zoom-out-icon:hover {
  font-size: var(--font-size-3);
}

.transition-icon {
  transition: transform .2s;
}

.transition-icon-hover {
  transform: rotate(180deg);
}

.transition-bg-icon {
  background-color: white;
  transition: background .2s, transform .2s;
}

.transition-bg-icon:hover {
  background-color: #d54a4a !important;
  transform: rotate(180deg);
}

.bg-img {
  //For Image
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  &.auto {
    background-size: auto;
  }

  &.contain {
    background-size: contain;
  }
}

.left-0 {
  left: 0;
}

.top-0 {
  top: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.bt {
  border-top-style: solid;
  border-top-width: 1px;
}

.br2 {
  border-radius: var(--border-radius-2);
}

.ba {
  border-style: solid;
  border-width: 1px;
}

.bb {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.bg-white {
  background-color: var(--white);
}

.b--light-silver {
  border-color: var(--light-silver);
}

.b--silver {
  border-color: var(--silver);
}

.b--error-color {
  border-color: var(--error-color);
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

.reference-mark {
  border-bottom: 2px solid #bad3de;
}

.lh-f7 {
  line-height: var(--line-height-f7);
}

.ph1 {
  padding-left: var(--spacing-extra-small);
  padding-right: var(--spacing-extra-small);
}

.ph3 {
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}

.pv2 {
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
}

.pt3 {
  padding-top: var(--spacing-medium);
}

.pb2 {
  padding-bottom: var(--spacing-small);
}

.f6 {
  font-size: var(--font-size-6);
}

.f7 {
  font-size: var(--font-size-7);
}

.f8 {
  font-size: var(--font-size-7);
  transform: scale(10/12);
}

.f9 {
  font-size: var(--font-size-7);
  transform: scale(8/12);
}

.mt2 {
  margin-top: var(--spacing-small);
}

.mt4 {
  margin-top: var(--spacing-large);
}

.mr1 {
  margin-right: var(--spacing-extra-small);
}

.mr2 {
  margin-right: var(--spacing-small);
}

.mr3 {
  margin-right: var(--spacing-medium);
}

.mr4 {
  margin-right: var(--spacing-large);
}

.mb1 {
  margin-bottom: var(--spacing-extra-small);
}

.mb3 {
  margin-bottom: var(--spacing-medium);
}

.ml2 {
  margin-left: var(--spacing-small);
}

.icon-color {
  color: var(--icon-color);
}

.mid-gray {
  color: var(--mid-gray);
}

.bg-washed-yellow {
  background-color: var(--washed-yellow) !important;
}

.error-color {
  color: var(--error-color);
}

.fw5 {
  font-weight: 500;
}

.fw6 {
  font-weight: 600;
}

.keyboard-key {
  box-shadow: 0 0 0 1px #dedede, 1px 1px 0 1px var(--silver);
}

.ant-back-top-div {
  right: 50% !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
  top: 0px;
}

.code-box-code-action {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: 16px;
  color: rgba(0, 0, 0, .45);
  cursor: pointer;
  -webkit-transition: all .24s;
  transition: all .24s;
}

.code-expand-icon-hide,
.code-expand-icon-show {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.code {
  width: 100%;
}

.config-input {
  width: 120px !important;
}

.underline-input {
  border: 0px !important;
  border-radius: 0px !important;

  &:hover {
    border-bottom: 2px !important;
  }
}

.ant-modal-header {
  padding: 16px 24px 6px;
}

.ant-modal-body {
  padding: 6px 24px;
}

.ant-modal-footer {
  padding: 6px 16px 16px;
}

.ant-drawer-bottom {
  z-index: 1001 !important;
}

.ant-drawer-header,
.ant-drawer-body,
.ant-drawer-footer {
  padding: 6px 24px;

  & .config-item {
    margin-bottom: 0px;
  }
}

.ant-drawer-body {
  overflow-y: auto;
}

.ant-dropdown-menu-submenu-popup ul {
  margin-right: 0em;
  margin-left: 0em;
}

.ant-dropdown {
  max-width: 100%;
  // overflow: hidden;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  white-space: normal;
}

.space-normal {
  white-space: normal;
}

.disabled {
  color: rgba(0, 0, 0, .3) !important;
}

.ce-toolbar__content {
  max-width: 100%;

  .ce-toolbox {
    width: 100%;
    overflow: auto;
  }

  /* width */
  ::-webkit-scrollbar {
    height: 1px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.ce-block__content {
  max-width: 100%;
}

.site-tag-plus {
  background: #fff;
  border-style: dashed;
}

.header {
  width: 100%;
  margin-top: 0px;

  &>&-wrapper {
    background-color: white;

    & .config-item {
      margin-bottom: 4px;
    }
  }

  & .tabs {
    overflow-y: auto;
  }

  .CodeMirror {
    height: 120px;
  }
}

.CodeMirror {
  .highlight {
    color: #007bff !important;
    background-color: var(--light-silver);
  }
}

.highlight-success {
  color: #28a745 !important;
  background-color: var(--light-silver);
}

.highlight-letter {
  color: black !important;
  background-color: rgb(0, 247, 255) !important;
}

.highlight-warning {
  color: black !important;
  background-color: yellow !important;
}

.highlight-gold {
  color: black !important;
  background-color: goldenrod !important;
}

.site-custom-tab-bar {
  z-index: 1;
  background: #fff;
}

.bold {
  font-weight: bolder;
}

details>summary:hover {
  box-shadow: 0px 0px 5px rgba(11, 125, 233, 0.5);
}

details.selected {
  &>summary {
    box-shadow: 0px 0px 5px rgba(11, 125, 233, 1);
  }

  &>.sub-selected {
    color: var(--active-deep-color);
    background-color: var(--active-deep-bg-color);
  }
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.code-edit-result>.data {
  padding-left: 0px;
}

.code-edit-result details,
.code-edit-result .property {
  padding-left: 4px;
}

.code-edit-result .separator {
  color: var(--separator-color);
}

.code-edit-result .key {
  color: var(--key-color);
}

.code-edit-result .value {
  color: var(--value-color);
}

.code-edit-result .type {
  color: var(--type-color);
}

.code-edit-result summary {
  color: var(--separator-color);
}

.code-edit-result>.data,
.code-edit-result>details {
  color: var(--value-color);
}

.code-edit-result svg {
  // font: 10px sans-serif;
  // fill: currentColor;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
  border-radius: 6px;
}

.details {
  details {
    line-height: 1.5;
    padding-left: 4px;

    &>summary {
      padding-left: 4px;
      color: var(--summary-color);
      line-height: 1.5;
    }

    &>summary::-webkit-details-marker {
      display: none;
    }

    &>summary:before {
      content: "\f152";
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      font-weight: 400;
      font-family: "Font Awesome 5 Free";
      margin-right: 10px;
      cursor: pointer;
      float: left;
      line-height: 1.5;
    }

    &[open]>summary::before {
      content: "\f150";
    }
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.boder-div {
  border: 1px solid #ccc;
  padding: 10px;
}

.cursorp {
  cursor: pointer;
}

.draggable {
  cursor: move;
  user-select: none;
}

.placeholder {
  background-color: #edf2f7;
  border: 2px dashed #cbd5e0;
}

.clone-list {
  border-top: 1px solid #ccc;
}

.clone-table {
  border-collapse: collapse;
  border: none;
}

.clone-table th,
.clone-table td {
  border: 1px solid #ccc;
  border-top: none;
  padding: 0.5rem;
}

.dragging {
  background: #fff;
  border-top: 1px solid #ccc;
  z-index: 999;
}

/** modal */
.modal.fade.active {
  display: block;
}

/* Dialog */
.dialog {
  width: 100vw;
  max-width: 30rem;

  padding: 1em;

  background: #fff;
  color: #656e77;
  box-shadow: 0 0 5px rgba(101, 110, 119, .2);
  border: 0;
  text-align: left;
}

.dialog[open] {
  animation: .2s linear slidein;
}

.dialog::backdrop {
  background: rgba(224, 228, 232, .9);
  animation: .4s ease fade;
}

.ant-form.ant-form-horizontal {
  .ant-form-item-label {
    white-space: normal;
  }
}

tr:not(:last-child) {
  border-bottom: solid 1px #eee;
}

th:not(:last-child) {
  border-right: solid 1px #ccc;
}

td:not(:last-child) {
  border-right: solid 1px #eee;
}

textarea.textarea-autosize {
  height: 2.25rem;
  min-height: 2.25rem;
  resize: vertical;
  overflow-y: hidden;
}

textarea.textarea-autosize.form-control-lg {
  height: 3.75rem;
  min-height: 3.75rem;
}

textarea.textarea-autosize.form-control-sm {
  height: 2rem;
  min-height: 2rem;
}

.div-gutter {
  >:not(:first-child) {
    margin-left: 8px;
  }
}

/* Fixes for antd */
.antd-cell-wrapper {
  & {
    margin: 0;
    // color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-variant: tabular-nums;
    line-height: 1.5715;
    // background-color: #fff;
    font-feature-settings: "tnum";
  }

  .anticon svg {
    fill: currentColor;
    font: inherit;
    vertical-align: inherit;
  }

  a {
    color: #1890ff;
  }
}

.ant-drawer-close:hover {
  // box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
  border-radius: 6px;
}

.react-grid-item>.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 1005;
}