$inputs-id: oi-66c06c;
$narrow-screen: 650px;
// @import '../../node_modules/antd/dist/antd.dark';
// @import '../../node_modules/antd/dist/antd';
@import '../../node_modules/codemirror/lib/codemirror';
@import "../../node_modules/codemirror/addon/lint/lint";
@import '../../node_modules/codemirror/addon/hint/show-hint';
@import '../../node_modules/codemirror/addon/fold/foldgutter';
@import '../../node_modules/codemirror/addon/display/fullscreen';
@import '../../node_modules/codemirror/addon/dialog/dialog';
@import '../../node_modules/codemirror/addon/search/matchesonscrollbar';
@import '../../node_modules/codemirror/theme/3024-day';
@import '../../node_modules/codemirror/theme/3024-night';
@import '../../node_modules/codemirror/theme/abcdef';
@import '../../node_modules/codemirror/theme/ambiance';
@import '../../node_modules/codemirror/theme/ayu-dark';
@import '../../node_modules/codemirror/theme/ayu-mirage';
@import '../../node_modules/codemirror/theme/base16-dark';
@import '../../node_modules/codemirror/theme/base16-light';
@import '../../node_modules/codemirror/theme/bespin';
@import '../../node_modules/codemirror/theme/blackboard';
@import '../../node_modules/codemirror/theme/cobalt';
@import '../../node_modules/codemirror/theme/colorforth';
@import '../../node_modules/codemirror/theme/darcula';
@import '../../node_modules/codemirror/theme/dracula';
@import '../../node_modules/codemirror/theme/duotone-dark';
@import '../../node_modules/codemirror/theme/duotone-light';
@import '../../node_modules/codemirror/theme/eclipse';
@import '../../node_modules/codemirror/theme/elegant';
@import '../../node_modules/codemirror/theme/erlang-dark';
@import '../../node_modules/codemirror/theme/gruvbox-dark';
@import '../../node_modules/cropperjs/dist/cropper';
@import "../../node_modules/cypher-codemirror/dist/cypher-codemirror-syntax";
@import "../../node_modules/react-grid-layout/css/styles";
@import "../../node_modules/react-resizable/css/styles";
// @import "../../node_modules/leaflet/dist/leaflet";
@import "./gridLayout.scss";

@import './graphxrApiSearchModal.scss';
@import './styles.scss';
@import './folder.scss';
@import './share.scss';
@import './wrapper.scss';
@import './panels.scss';
@import './editorjs.scss';
@import './code.scss';
@import './chart.scss';
@import './image.scss';
@import '../block/table/styles/index.scss';
@import '../block/quote/index';
@import '../block/checklist/index';
@import '../block/header/index';
@import '../block/delimiter/index';
@import '../block/embed/index';
@import '../block/inlineCode/index';
@import '../block/nestedList/index';
@import './darkmode.scss';

:root {
  --icon-size: 1rem;
  --font-size-headline: 6rem;
  --font-size-subheadline: 5rem;
  --font-size-1: 3rem;
  --font-size-2: 2.25rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1rem;
  --font-size-6: .875rem;
  --font-size-7: .75rem;
  --line-height-f1: 3.5rem;
  --line-height-f2: 2.5rem;
  --line-height-f3: 2rem;
  --line-height-f4: 1.75rem;
  --line-height-f5: 1.5rem;
  --line-height-f6: 1.25rem;
  --line-height-f7: 1rem;
  --duration: 0.35s;
  --folder-width: 200px;
  --edit-height: 200px;
  --padding: 40px;
  --border-width: 20px;
  --gap: 16px;
  --icon-color: deepskyblue;
  // --icon-hover-color: skyblue;
  --icon-hover-color: lightskyblue;
  --icon-hover-bgcolor: lightyellow;
  --icon-active-bgcolor: yellow;
  --summary-color: green;
  --key-color: #6636b4;
  --separator-color: #1b1e23;
  --value-color: #1e5258;
  --type-color: #0bcaec;
  --run-result: #1e5258;
  --warning-color: #a9b0bc;
  --black: #000;
  --white: #fff;
  --near-black: #1c1c1c;
  --dark-gray: #454545;
  --mid-gray: #6e6e6e;
  --gray: #929292;
  --moon-gray: #c4c4c4;
  --light-gray: #e2e2e2;
  --bordered-gray: #dadce0;
  --near-white: #f5f5f5;
  --silver: #e8e8e8;
  --light-silver: #efefef;
  --bg-light: #eff2f5;
  --selected-shadow: #cdb0f8;
  --hover-shadow: #a66ffc;
  --target-color: #1c1c1c;
  --transparent: transparent;
  --black-90: #16191d;
  --black-80: #2c313a;
  --black-70: #434a56;
  --black-60: #596373;
  --black-50: #6f7c90;
  --black-40: #8c96a6;
  --black-30: #a9b0bc;
  --black-20: #c5cad3;
  --black-10: #e2e5e9;
  --black-05: rgba(0, 0, 0, 0.05);
  --black-025: rgba(0, 0, 0, 0.025);
  --black-0125: rgba(0, 0, 0, 0.0125);
  --white-90: hsla(0, 0%, 100%, 0.9);
  --white-80: hsla(0, 0%, 100%, 0.8);
  --white-70: hsla(0, 0%, 100%, 0.7);
  --white-60: hsla(0, 0%, 100%, 0.6);
  --white-50: hsla(0, 0%, 100%, 0.5);
  --white-40: hsla(0, 0%, 100%, 0.4);
  --white-30: hsla(0, 0%, 100%, 0.3);
  --white-20: hsla(0, 0%, 100%, 0.2);
  --white-10: hsla(0, 0%, 100%, 0.1);
  --white-05: hsla(0, 0%, 100%, 0.05);
  --white-025: hsla(0, 0%, 100%, 0.025);
  --white-0125: hsla(0, 0%, 100%, 0.0125);
  --error-color: #e7040f;
  --active-deep-color: white;
  --active-bg-color: #deeefc;
  --active-light-bg-color: rgb(12, 114, 247, 25%);
  --active-deep-bg-color: rgb(12, 114, 247, 50%);
  --active-deeper-bg-color: rgb(12, 114, 247, 100%);
  --active-color: rgb(12, 114, 247);
  --spacing-none: 0;
  --spacing-extra-small: .25rem;
  --spacing-small: .5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;
  --width-1: 1rem;
  --width-2: 2rem;
  --width-3: 4rem;
  --width-4: 8rem;
  --width-5: 16rem;
  --border-radius-none: 0;
  --border-radius-1: .125rem;
  --border-radius-2: .25rem;
  --border-radius-3: .5rem;
  --border-radius-4: 1rem;
  --border-radius-circle: 100%;
  --border-radius-pill: 9999px;
  --border-width-none: 0;
  --border-width-1: .125rem;
  --border-width-2: .25rem;
  --border-width-3: .5rem;
  --border-width-4: 1rem;
  --border-width-5: 2rem;
  --box-shadow-1: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  --box-shadow-2: 0 0 12px 2px rgba(0, 0, 0, 0.2);
  --box-shadow-3: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  --box-shadow-4: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
  --box-shadow-5: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  --syntax_keyword: #c30771;
  --mono_fonts: 14px/1.5 Menlo, Consolas, monospace;
  --header-h: 2.25rem;
  --background-color: #fff;
  --background-color-hover: #fafafa;
  --text-color: #1b1e23;
  --text-color-hover: black;
  --color-border-light: #E8E8EB;
  --box-shadow: rgb(116 116 133 / 10%);
  --washed-yellow: #fbf9f1;
}

@media all and (max-width: 768px) {
  :root {
    --padding: 30px;
  }

  .ce-block .ce-block-border-right,
  .ce-block .ce-block-border-left {
    display: none !important;
  }
}

@media all and (max-width: 480px) {
  :root {
    --padding: 20px;
  }

  .ce-toolbar__actions_right,
  .ce-toolbar__actions_left {
    display: none !important;
  }
}

@media (max-width: $narrow-screen) {
  button .button-label {
    display: none;
  }
}

body {
  // margin: 0 14px; //simhei
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
  font-size: 14px;
  line-height: 1.5715;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: #1b1e23;
}

.CodeMirror-hints {
  z-index: 1002;
}

.CodeMirror {
  border: 1px solid #eee;
}

// .CodeMirror-cursor {
//   border-left-width: 4px !important;
// }
.clicker {
  cursor: pointer !important;
}

.drag-move {
  cursor: move !important;

  >.icon {
    cursor: move !important;
  }
}

.high-light-span {
  color: var(--c-keena-orange);
  font-weight: 600;
  // border-bottom: 1px solid  var(--c-keena-orange);
}

.text-muted.small {
  font-weight: bold;
  color: var(--value-color);
}

.text-icon {
  color: var(--icon-color) !important;

  &:hover {
    color: var(--icon-hover-color) !important;
  }
}

:focus {
  outline: none;
}

a {
  text-decoration: none !important;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.theme {
  color: var(--text-color);
  background-color: var(--background-color);

  &:hover {
    color: var(--text-color-hover);
    background-color: var(--background-color-hover);
  }
}