.shake {
  animation: myfirst 0.2s infinite;
  -moz-animation: myfirst 0.2s infinite;
  /* Firefox */
  -webkit-animation: myfirst 0.2s infinite;
  /* Safari and Chrome */
  -o-animation: myfirst 0.2s infinite;
  /* Opera */
}

@keyframes myfirst {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

@-moz-keyframes myfirst

/* Firefox */
  {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

@-webkit-keyframes myfirst

/* Safari and Chrome */
  {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

@-o-keyframes myfirst

/* Opera */
  {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

.chat {
  .circle-btn {
    margin-left: 5px;
  }

  & .icon {
    margin-left: 3px;
    cursor: pointer;
  }
}

.document-title {
  padding-right: var(--spacing-small);
}

.icon-with-text {
  padding-right: 5px;

  svg {
    vertical-align: initial;
  }
}

.editorjs-wrapper {
  padding-top: calc(var(--spacing-small) * 2);

  >.editorjs {
    // margin-right: -15px;
    // margin-left: -15px;
  }

  >.editorjs-anchor {
    position: fixed;
    right: 8px;
    top: calc(var(--header-h) * 2 + var(--spacing-small) * 4);
    // right: calc(var(--padding) - 10px - 8px);
    z-index: 8;

    &-full-screen {
      display: none;
    }

    .editorjs-anchor-box {
      border: 2px solid transparent;
      border-radius: 4px;

      &:hover {
        box-shadow: 0 0 5px 0 var(--hover-shadow);
        transition: all .5s;
        width: calc(280px - 2 * var(--spacing-small) - var(--spacing-extra-small) - var(--width-2));

        .ant-anchor-link {
          .ant-anchor-link-title {
            &>div {
              &>.ant-anchor-link-title-text {
                margin-left: 30px;
              }
            }
          }
        }
      }
    }

    .ant-anchor-wrapper {
      // padding-top: 20px;
      // padding-bottom: 100px;
      margin-left: unset;
      padding-left: unset;
      overflow: auto;
      width: 100%;
      background-color: rgb(255, 255, 255, 0.75);
    }

    .ant-anchor {
      padding: 0 5px 0 0px;
    }

    /* width */
    ::-webkit-scrollbar {
      width: 1px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    .ant-anchor-ink {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 10px;
      left: unset;
      height: 100%;
    }

    .ant-anchor-ink::before {
      width: 0px;
    }

    .ant-anchor-ink-ball {
      position: absolute;
      right: 0%;
      width: 6px;
      height: 6px;
      background-color: #fff;
      border: 2px solid #1890ff;
      border-radius: 6px;
      transform: translateX(0%);
      transition: top 0.3s ease-in-out;
    }

    .ant-anchor-link {
      display: flex;
      justify-content: flex-end;
      padding: 0px;

      .ant-anchor-link-title {
        width: 100%;

        &:hover {
          background-color: var(--near-white);
        }

        &>div {
          width: 100%;

          &>.ant-anchor-link-title-text {
            text-align: right;
            padding: 7px 10px 7px 0px;
            line-height: 1rem;
            font-family: Menlo, Consolas, monaco, monospace;
            font-size: var(--font-size-7);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;

            &:hover {
              // background-color: var(--near-white);
              color: var(--near-black);
            }
          }

          &>.ant-anchor-link-title-before {
            content: " ";
            position: absolute;
            left: 0px;
            top: calc(50% - 4px);
            display: inline-block;
            width: 6px;
            height: 6px;
            background-color: #fff;
            transform: translateX(0px);
            transition: bottom 0.3s ease-in-out;

            &>.ant-anchor-link-title-before-hide {
              position: absolute;
              left: 0px;
              top: calc(50%);
              display: inline-block;
              background-color: #fff;
              transform: translateX(0px);
              transition: bottom 0.3s ease-in-out;
            }

            &.ant-anchor-link-title-before-variant {
              border: 3px solid var(--moon-gray);
              border-radius: 6px;
            }

            &.ant-anchor-link-title-before-common {
              border: 2px solid var(--moon-gray);
              border-radius: 4px;
            }

            &.ant-anchor-link-title-before-out {
              border-color: var(--active-color);
            }

            &.ant-anchor-link-title-before-in {
              border-color: var(--hover-shadow);
            }

            &.ant-anchor-link-title-before-target {
              border-color: var(--target-color);
            }

            &.ant-anchor-link-title-before-error {
              border: 3px solid red;
              border-radius: 6px;
            }
          }
        }
      }
    }
  }
}

.file_import {
  position: relative;

  // display: inline-block;
  // display: none;
  // opacity: 0;
  &:hover .icon {
    color: var(--icon-hover-color) !important;
  }

  & .file_input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
  }
}

.import-export {
  position: relative;

  &-rows .icon,
  & .icon {
    margin-left: 3px;
    padding-top: 10px;
  }
}

.blablano {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    white-space: normal;
  }
}

.blabla {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  >i:hover+span {
    white-space: normal;
  }
}

.drawer-div {
  max-width: 100%;
  margin-top: calc(var(--header-h) * 2 + var(--spacing-small) * 2);
  margin-bottom: var(--header-h);
  background-color: transparent;
  height: calc(100% - calc(var(--header-h) * 2 + var(--spacing-small) * 2)) !important;

  .ant-drawer-footer {
    // margin-bottom: calc(var(--header-h) * 2 + var(--spacing-small) * 2);
  }

  .ant-back-top {
    // bottom: calc(var(--header-h) * 2 + 50px);

  }
}

@media (max-width: $narrow-screen) {
  .drawer-div.ant-drawer-right.ant-drawer-open {
    width: 100% !important;

    .resize {
      display: none;
    }
  }
}

.drawer-settings {
  .settings {
    .ph3 {
      padding-bottom: 60px;
    }
  }
}

.drawer-findandreplace {
  height: 400px;
}

.drawer-folder {
  .ant-drawer-header {
    padding: 0px;

    .ant-avatar {
      position: relative;
      z-index: 8;
      transition: transform 0.1s ease-out 0s;

      &:hover {
        transform: translateY(-3px);
        z-index: 11;
      }
    }
  }

  .ant-drawer-body {
    padding: 0px 0px 0px 8px;
  }
}

.drawer-help {
  .ant-drawer-body {
    margin-bottom: 24px;
  }

  .card-example {
    width: 550px;

    .ant-card-body {
      padding: var(--spacing-small) 0px;
    }

    .image-wrap {
      min-height: 700px;
      max-height: 700px;
      overflow: hidden;
    }
  }
}

.drawer-fileattachments {
  .sub-title .ant-list-item-meta-title {
    font-size: var(--font-size-4);
    margin-bottom: unset;
    line-height: unset;
  }

  .ant-dropdown-menu-item>.anticon:first-child {
    margin-right: unset;
  }

  .ant-list-item-action {
    margin-left: var(--spacing-medium);
  }
}

.drawer-vertical,
.drawer-type {
  >.resize {
    position: fixed;
    cursor: col-resize;
    width: 4px;
    background-color: transparent;
    height: 100%;
    z-index: 1;
    bottom: 0px;

    &:hover {
      border: 1px dotted var(--near-black);
      background-color: #5d5d5d;
      border-radius: 4px;
    }
  }
}

.drawer-hor {
  width: 100%;

  >.resize {
    position: fixed;
    cursor: row-resize;
    height: 4px;
    background-color: transparent;
    width: 100%;
    z-index: 1;

    &:hover {
      border: 1px dotted var(--near-black);
      background-color: #5d5d5d;
      border-radius: 4px;
    }
  }
}

.editor-dropzone[role=button] {
  cursor: unset;
}

.dropzone-div:focus {
  outline: none;
}

.dropzone-div {
  & .drag-notice {
    position: fixed;
    z-index: 1003;
    top: 45vh;
    width: 100%;
    text-align: center;
    color: var(--icon-color);

    >b {
      background-color: rgb(0, 0, 0, 0.1);
    }
  }

  .wrapper {
    position: relative;

    & .top-affix {
      margin-right: calc(-1 * var(--padding)) !important;
      margin-left: calc(-1 * var(--padding)) !important;
    }

    & .bottom-affix {
      position: fixed;
      z-index: 12;
      bottom: 0px;
      left: 0px;
      width: 100%;
      box-shadow: 0px -1px 4px 0px var(--box-shadow);
      padding: 6px 0px;
      background-color: rgb(255, 255, 255, 0.8);

      & .icon {
        margin-left: 3px;
        cursor: pointer;
      }
    }

    & .head {
      position: absolute;
      bottom: 8px;
    }

    .CodeMirror-fullscreen {
      top: calc(var(--header-h) * 2 + var(--spacing-small) * 2);
    }

    &.wrapper-full-screen {
      .CodeMirror-fullscreen {
        top: 0;
      }

      .ce-block .ce-block-border-left-wrap:hover,
      .ce-block .ce-block-border-right-wrap:hover {
        background-color: inherit;
      }
    }
  }
}

.CodeMirror-backup {
  & .ant-back-top {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: rgb(0, 0, 0, 0);
    color: black;
    text-align: center;
    font-size: var(--icon-size);
    left: 50% !important;
  }
}

.my-tabs {
  position: fixed;
  right: 0px;
  top: 32px;
  height: calc(100% - 32px);
  z-index: 999;

  &>.anticon {
    position: fixed;
    top: 50%;
    font-size: var(--icon-size);
    z-index: 1;
    right: 0px;
  }

  &.open>.anticon {
    right: calc(var(--folder-width) *0.95);
  }

  &-wrapper {
    // width: var(--folder-width);
    height: 100%;
    background-color: rgb(245, 243, 241);

    & .ant-back-top {
      height: 40px;
      width: 40px;
      line-height: 40px;
      border-radius: 4px;
      background-color: rgb(0, 0, 0, 0);
      color: black;
      text-align: center;
      font-size: var(--icon-size);
      right: calc(var(--folder-width) * 0.45) !important;
    }
  }
}

.tag-style {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.nav-tabs {
  line-height: 24px;
}

.nav-link {
  padding: 0rem 1rem;
}

.center-loading {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
}