:root {
  --main-bg-color: rgba(255, 255, 255, 0);
  --main-text-color: black;
  --main-surface-bg-color: rgba(219, 219, 219, 0.85);
  --second-text-color: gray;
  --main-text-active: gray;
  --main-border-color: rgb(211, 211, 211);
  --main-border-active: green;
  --main-icon-color: #303030;
  --main-hover-bg-color: gray;
  --main-hover-text-color: white;
  --waring-color: red;
  --disable-color: rgb(188, 188, 188);
  --icon-hover-color: black;
  --button-bg-color: transparent;
  --button-active-color: green;
  --input-bg-color: #acacac;
  --divider-color: gray;
}

.kv-button {
  display: inline-block;
  padding: 5px 13px;
  margin: 5px;
  min-height: 32px;
  font-size: 14px;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  pointer-events: visible;
  background-color: var(--main-surface-bg-color);
  color: var(--main-text-color) !important;
  border: 1px solid #434343 !important;
  cursor: pointer;
  transition: all 0.15s ease;
}
.kv-button.active,
.kv-button.active:hover {
  border-color: #acacac;
  color: #000 !important;
  cursor: pointer;
  background-color: #65b7f3;
}
.kv-button.inactive {
  color: #666666;
  border-color: #666666;
  cursor: default;
}
.kv-button:hover {
  background: rgba(255, 255, 255, .85);
  color: var(--main-text-color) !important;
}
.kv-button.btn-dark {
  border-color: gray;
}
.kv-button:focus {
  border-radius: 50px;
  outline: none;
}
