.embed-tool--loading .embed-tool__caption {
  display: none;
}

.embed-tool--loading .embed-tool__preloader {
  display: block;
}

.embed-tool--loading .embed-tool__content {
  display: none;
}
.embed-tool__preloader {
display: none;
position: relative;
height: 200px;
box-sizing: border-box;
border-radius: 5px;
border: 1px solid #e6e9eb;
}
.embed-tool__preloader::before {
  content: '';
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -25px;
  margin-left: -15px;
  border-radius: 50%;
  border: 2px solid #cdd1e0;
  border-top-color: #388ae5;
  box-sizing: border-box;
  animation: embed-preloader-spin 2s infinite linear;
}
.embed-tool__url {
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
max-width: 250px;
color: #7b7e89;
font-size: 11px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.embed-tool__content {
width: 100%;
}
.embed-tool__caption {
margin-top: 7px;
}
.embed-tool__caption[contentEditable=true][data-placeholder]::before{
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}
.embed-tool__caption[contentEditable=true][data-placeholder]:empty::before {
     opacity: 1;
  }
.embed-tool__caption[contentEditable=true][data-placeholder]:empty:focus::before {
    opacity: 0;
  }

@keyframes embed-preloader-spin {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}